@import "../../styleCommon/var";

.head {
  background-image: url(../../imgs/book.jpg);
  width: 100%;
  padding-bottom: 2rem;

  .head__title {
    padding: 1.5rem 0;
  }

  .brown {
    font-size: 4rem !important;
    color: $colour_brown;
    font-weight: 700;
    letter-spacing: 0.01em;
    text-shadow: 0.022em 0.022em 0.022em rgb(255, 252, 252);
  }
  .head__link{
    font-size: 0.5em;
    text-decoration: none;
    color: $rosewood;
    width: 100%;
   text-align: left;
  }
  .input__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .input__field {
    min-width: 350px;
    margin: 1rem 0;
    background-color: $bClour1;
    font-size: 1.5rem;
    width: 70%;
    border: 0;
    padding: 0 0 0 0.5em;
  }

  .input__field:focus {
    outline: none;
  }

  .btn {
    max-height: 40px;
    font-size: 1.5rem;
    background-color: $colour_yellow;
    outline: 0;
    border: 0;
    padding: 0 0.5em;
    cursor: pointer;
  }
  .btn:hover {
    background-color: $colour_brown;
    color: whitesmoke;
  }

  .selectors {
    margin: 0.5rem 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    .selector__group {
      margin: 1rem 2rem;
      background: rgba(0, 0, 0, 0.6);
    }
    select {
      background-color: $bClour1;
      text-align: center;
      align-self: flex-end;
    }

    .selector__title {
      color: whitesmoke;
      padding: 0 1em 0 0;
    }
  }
}
@media screen and (min-width: $breakpoint-mobile) {
  .selector__title {
    padding: 0 1em !important;
  }
  select {
    padding: 0.2em 1em;
  }

}
