@import "../../styleCommon/var";

.content__wrapper {
  margin: 2rem 0;

  .cards__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
  }

  .btn__more {
    background-color: $colour_yellow;
    box-shadow: 0 5px ($colour_yellowShadow);
    border-radius: 0.3em;
    border: 0;
    font-size: 2rem;
    padding: 0 5rem;
    cursor: pointer;
  }

  .btn__more:hover {
    background-color: $colour_brown;
    box-shadow: 0 5px ($rosewood);
    color: white;
  }
}
.spinner__wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.25);
  animation-name: appear;
  animation-duration: 300ms;
}

.error__booklist {
  font-size: 1.5em;
  color: red;
}
